export(cctscree,cctapply,cctresults,cctppc,cctmvest,cctmemb,cctitem,cctitemhdi,cctsubj,cctsubjhdi,cctfac,cctcat,plot,screeplot,summary,dtraceplot,cctgui,cctexport)
import(tcltk,R2jags,rjags,mvtnorm,polycor,MASS,methods)
importFrom(psych, fa, polychoric)
importFrom(graphics, plot)
importFrom("grDevices", "dev.off", "jpeg", "postscript", "rainbow")
importFrom("graphics", "arrows", "axTicks", "axis", "box", "par","points", "segments", "text")
importFrom("stats", "cor", "cov", "density", "dnorm", "ecdf", "pnorm","qnorm", "quantile", "rbinom", "rnorm", "runif", "sd","var")
importFrom("utils", "read.csv", "write.csv")
exportClasses("cct")
exportMethods("plot","screeplot","summary") 
